* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    flex: 1;
}

header {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    gap: 15px;
    padding-right: 10%;
    padding-left: 10%;
    min-height: 50px;
}

footer {
    background-color: #1f2937;
    height: 50px;
    position: relative;
    bottom: 0;
    width: 100%;
    color: #e5e7eB;
    font-size: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


body div img {
    width: 100px;
    height: 100px;
    border: solid black;
    border-radius: 10px;
}


/* classes */

.header_link {
    display: flex;
    text-decoration: none;
    color: #e5e7eB;
    font-size: 18px;
}

.hamster {
    height: 50px;
    width: auto;
    margin-right: auto;
    padding-bottom: 5px;
}

.hero {
    background-color: #1f2937;
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamstereye {
    max-width: 100%;
    max-height: 100%;
    width: 50%;
    height: 200px;
}

.hero_text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero_description {
    color: #e5e7eB;
    font-size: 15px;
    margin-top: 9px;
}

.hero h1 {
    display: flex;
    flex-direction: column;
    flex: auto;
    margin: 0px;
    width: 50%;
}

.sign_up {
    background-color: #3882f6;
    margin-top: 9px;
    padding: 5px;
    border-radius: 8%;
    text-align: center;
    width: 100px;
    color: #e5e7eB;
    font-size: 15px;
}

.quote {
    background-color: #E5E7EB;
    padding-bottom: 100px;
}

.action {
    display: flex;
    padding: 100px;
    justify-content: center;
}

.info_pics {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    gap: 50px;
}

.haminfotext {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding: 25px
}

.hamdescript {
    width: 100px;
    text-align: center;
}


.quote p {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
    padding: 100px 300px 0px 300px;
}

.quote h1 {
    text-align: end;
    margin: 0;
    padding-right: 300px;
}

.action div {
    background-color: #3882f6;
}

h1.sign_up {
    border: 2px solid white;
    border-radius: 3px;
}

.action_items {
    display: flex;
    width: 500px;
    padding: 30px 40px;
    color: #e5e7eB;
    justify-content: space-evenly;
    border-radius: 10px;
}

div.action_items p:first-child {
    font-size: 20px;
    font-weight: bold;
}