body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    gap: 15px;
    padding-right: 10%;
    padding-left: 10%;
    min-height: 50px;
}

.header_link {
    display: flex;
    text-decoration: none;
    color: #e5e7eB;
    font-size: 18px;
}

.hamster {
    height: 50px;
    width: auto;
    margin-right: auto;
    padding-bottom: 5px;
}

.hero {
    background-color: #1f2937;

}

footer {
    background-color: #1f2937;
    min-height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #e5e7eB;
    font-size: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}