* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    flex: 1;
    justify-content: space-between;
}

header {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    gap: 15px;
    padding-right: 10%;
    padding-left: 10%;
    min-height: 50px;
}

footer {
    background-color: #1f2937;
    min-height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #e5e7eB;
    font-size: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div h1 {
    display: flex;
    flex-direction: column;
    flex: auto;
    margin: 0px;
    width: 50%;
}

/* classes */

.header_link {
    display: flex;
    text-decoration: none;
    color: #e5e7eB;
    font-size: 18px;
}

.hamster {
    height: 50px;
    width: auto;
    margin-right: auto;
    padding-bottom: 5px;
}

.hero {
    background-color: #1f2937;
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamstereye {
    max-width: 100%;
    max-height: 100%;
    width: 50%;
    height: 200px;
}

.hero_text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero_description {
    color: #e5e7eB;
    font-size: 15px;
    margin-top: 9px;
}

.sign_up {
    background-color: #3882f6;
    margin-top: 9px;
    padding: 5px;
    border-radius: 8%;
    text-align: center;
    width: 100px;
    color: #e5e7eB;
    font-size: 15px;
}

.quote {
    background-color: #E5E7EB;
}

.info {
    display: flex;
}

.action {
    display: flex;
}